a {
    text-decoration: none;
}

.storyItem {
    display: block;
    overflow: hidden;
    float: left;
    width: 120px;
    height: 178px;
    padding: 0 5px;
    margin-bottom: 20px;
    text-align: center;
}

.storyImage {
    display: inline-block;
    overflow: hidden;
    width: 90%;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.storyImage img {
    width: auto;
    height: 100%;
    margin-left: -25%;
}

.storyTitle {
    display: inline-block;
    width: 90%;
    padding: 0;
    font-size: .8rem;
    text-align: center;
}

.storyItem:hover {
    .storyImage {
        border: 2px solid #ff3c00;
    }

    .storyImage img {
        height: 120%;
        margin-left: -40%;
        margin-top: -5%;
    }
}


