.slideContainer {
    overflow: hidden;
    display: block;
    margin-top: 15px;
    padding: 20px;
    padding-bottom: 30px;

    width: auto;
    height: 400px;
    border: 2px solid transparent;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; 
}

.slideContainer:hover {
    .labelType a {
        background-color: #e53935;
    }

    img {
        height: 100.2%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.slideItem {
    height: 400px;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #222;
}
.slideImg {
    height: 400px;
    text-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    
    img {
        width: auto;
        height: 100%;
        display: block;
        -moz-transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}

.labelType {
    left: 15px;
    top: 15px;
    position: absolute;
}


.slideMessage {
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 1rem;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.7) 100%);
}

.slideMessageTitle {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 15px 15px 5px;
    color: #f5f5f5 !important;
    display: block;
    overflow: hidden;
}

.slideMessageMsg {
    font-size: .9rem;
    padding: 0 15px 15px;
    color: #f5f5f5 !important;
    display: block;
    overflow: hidden;
}