.tagName {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:auto !important;
  height: 25px;
  margin-right: 3px;
  color: #fff;
  padding: 2px 5px;
  font-size: .8rem;
  text-shadow: 1px 0 1px rgb(0 0 0 / 40%);
  border-radius: 2px;
}