.container {
  display: flex;
  align-items: center;

  margin-right: 5px;

  padding: 0.1rem;
  height: 25px;
  border-radius: 3px;

  text-shadow: 1px 1px 1px #000000;
  color: white;
}

.PS4,
.PS5 {
  background-color: #1565c0;
}

.XboxSeries,
.XboxOne {
  background-color: #529836;
}

.PC {
  background-color: #bdbbbb;
}

.Switch {
  background-color: #c62828;
}

.default {
  background-color: #ef6c00;
}
