.divImageStories{
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5em;
    overflow: hidden
}


.imageStories{
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
   
}

.divImageStories:hover{
    border: 5px solid #e53935;
    border-radius: 50%;;
	transform: scale(1.1);
}

.cardStorie{
    width: 12em;
    
}

.titleStorie{
    margin-left: 30px;
}


