.mainContainer {
  margin: 0 175px;
  margin-top: 5px;
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
