a {
    text-decoration: none;
    cursor: pointer;
}

.itemList {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 3px solid #e53935;

    a {
        margin: 0;
        display: block;
    }
}

.itemListImage {
    overflow: hidden;
    width: 42%;
    height: 195px;
    position: relative;
    

    a {        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: auto;
        height: 125%;

        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
}

.ilImageType {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    a {
        margin-left:15px;
    }
}

.itemListContent {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 190px;
    padding-left: 20px;
    position: relative;
}

.itemlListContent {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 190px;
    padding-left: 20px;
    position: relative;
}

.ilcTitle {
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0;

    h3 {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.8rem;
        border: 0;
        font-family: 'Oxygen',sans-serif;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    a{
        color: rgba(0,0,0,.8);
    }
}

.ilcMessage {
    overflow: hidden;
    font-size: 1.1rem;

    a {
        color: rgba(0,0,0,.8);
    }
}

.ilcDetails {
    overflow: hidden;
    min-height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    font-size: .9rem;
    padding: 0 20px;
    background-color: #fcfcfc;
}

.userSpan {
    display: inline;
}

.ilcChipComment {
    display: flex;
    bottom: 0px;
    right: 0;
    padding: 0px 0;
    margin-right: 0;
    position: absolute;
    background-color: transparent;
    align-items: center;

    a {
        color: #666;
        float: right;
    }
}

.icon {
    color: #666;
    margin-top: 5px;
    margin-left: 5px;
    font-size: .8rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.itemList:hover {
    img {
        height: 130%;
        width: auto;
        display: block;
        -webkit-transition: scale(1.1);
        -moz-transition: scale(1.1);
        transition: scale(1.1);
    }

    .ilcTitle a {
        color: #e53935;
    }

    .ilImageType a {
        background-color: #e53935;
    }
}